

label::before {
    content: "-";
    padding: 20px;
}
input:checked ~ .checkbox-click {
    display: none;
}
.checkbox-click{
    background-color: aliceblue;
}

input {
    display: none;
}

input:checked~label::before {
    content: "+";
    height: 2em;
}

label {
   margin-top: 20px;
   padding: 20px;
  display: block;
  color: white;
    background-color: #d95925;
    cursor: pointer;
}

.head{
    text-align: center;
}

.icon{
    width: 200px;
    height: 200px;
   font-size: 60px;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
  text-align: center;
   border-radius: 50%;
   border: 10px solid orange;
}
.box{
    margin: 20px;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
button{
    background-color:orange;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
}
table{
    margin: auto;
}
